body, html {
    height: 100vh;
    margin: 0;
  }
  
  .bgimg {
    background-image: url('../assets/images/black\ two.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 7px;
    left: 23vw;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }

  p {
    font-size: medium;
  }

  @media (min-width: 992px){
    .bgimg {
      background-image: url('../assets/images/black\ two.jpg');
      height: 100%;
      background-position: center;
      background-size: cover;
      position: relative;
      color: white;
      font-family: "Courier New", Courier, monospace;
      font-size: 25px;
    }
    
    .topleft {
      position: absolute;
      top: 5px;
      left: 41.5vw;
    }
    
    .bottomleft {
      position: absolute;
      bottom: 0;
      left: 16px;
    }
    
    .middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    hr {
      margin: auto;
      width: 40%;
    }
  
    p {
      font-size: medium;
    }
  }